.login--input--text {
  .el-form-item__label {
    text-align: left !important;
  }
}
.login--input--length {
  .el-input {
    width: 140px !important;
    margin-right: 10px;
  }
}
.el-checkbox__inner1{
  .el-checkbox__inner{
    border-radius: 10px !important;
  }
}